.logo-header {

}

.logo-header:after {
    background: linear-gradient(to right,#fff 0,#0085b2 33%,#ff007f 66%,#000 100%);
    width: 100%;
    height: 5px;
    top: 0;
    position: absolute;
    left: 0;
    content: '';
}

.logo-header a {
    display: block;
    text-decoration: none;
    color: $grey-color-dark;
    padding-bottom: 10px;
    padding-top: 20px;
}

.logo-header a p {
    font-size: 2em;
}
/**
 * Content header
 */
.masthead {
    height: 250px;
    text-align: center;
    position: relative;
}

.hatched {
    background: #222 url(/assets/images/pattern.svg);
}